<%# list edit %>
<h2>Edit List</h2>

<form action="<%= list_url(@list) %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="PATCH">

  <label>
    Name
    <input type="text" name="list[name]" value="<%= @list.name %>">
  </label>

  <label>
    Description
    <input type="text" name="list[description]" value="<%= @list.description %>">
  </label>

  <input type="submit" value="Update List">
</form>