<%# list new %>
<h2>New List</h2>

<form action="<%= lists_url %>" method="POST">
  <%= auth_token %>

  <label>
    Name
    <input type="text" name="list[name]" value="<%= @list.name %>">
  </label>

  <label>
    Description
    <input type="text" name="list[description]" value="<%= @list.description %>">
  </label>

  <input type="submit" value="Create New List">
</form>